@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e9d9d9;
    margin: 0;
}

header {
    background-color: #000000;
    padding: 14px 20px;
    position: relative;
    box-shadow: 4px 4px 16px rgba(107, 101, 101, 0.6);/* Adiciona uma sombra suave na borda inferior */
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo:hover {
    transform: scale(1.06);
    transition: transform 0.4s ease-in-out;
}

@keyframes animated {
    to {background-position: 161px;}
}

.logo a {
    text-decoration: none;
}

.logo h3 {
    font-weight: lighter;
}

.logo h3:hover{
    transition: 0.3s ease-in-out;
    transition: color 0.4s ease-in-out;
    background: linear-gradient(to left, rgb(30, 30, 220), rgb(20, 200, 250), indigo, violet, red, rgb(20, 200, 250), orange, violet);   
    display: inline;
    color: transparent;
    animation: animated 5s linear infinite;
    transition: ease-in-out;
    background-clip: text;
}

#titulo {
    font-family: 'looney-tunes';
    font-size: 2.1em;
    font-weight: lighter;
    color: #e9d9d9;
    margin-bottom: 0;
    margin-left: 20px;
}

.logo img {
    padding-top: 5px;
    width: 44px;
    vertical-align: middle;
    margin-left: 20px;
}

.nav-links {
    font-family: 'comic-sans';
    font-size: 1.08em;
    list-style: none;
    display: flex;
    gap: 100px;
    align-self: center;
    margin-right: 90px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #e9d9d9;
    font-weight: lighter;
}

.nav-links a:hover {
    transition: 0.3s ease-in-out;
    transition: color 0.4s ease-in-out;
    background: linear-gradient(to right, rgb(30, 30, 220),rgb(20, 20, 250), blue, rgb(20, 200, 250));   
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 5s linear infinite;
    transition: ease-in-out;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 80vh; /* Garante que o conteúdo principal tenha altura mínima */
}

#conteudo {
    display: flex;
    width: 90vw;
    padding: 36px;
    background-color: rgba(224, 214, 214, 0.05); /* Fundo semitransparente */
    border-radius: 18px;
}

#quem-somos {
    flex: 1;
    padding: 20px;
    width: 60vw;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    text-align: justify;
    margin-bottom: 15px;
}

/* página quem-somos início */
h2 {
    text-align: center;
    padding: 20px 0 10px 0;
}

h4 {
    font-size: larger;
    text-wrap: balance;
    padding: 08px 16px 6px 4px;
}

p {
    font-size: medium;
    font-weight: lighter;
    padding: 10px 10px;
    align-self: baseline;
}


.integrantes {
    position: absolute;
    display: flex;
}

.integrante {
    position: relative;
    display: flex;
    align-content: center;
    width: 85vw;
    margin: 2% 0;
    background-color: rgba(224, 214, 214, 0.05);
    border: 1px solid rgb(49, 46, 46);
    border-radius: 28px;
    box-shadow: -2px -2px 2px 2px rgba(63, 61, 61, 0.6);
}
  
.integrante img {
    width: auto;
    height: 20%;
    margin: 8px;
    border-radius: 10%;
}

#bio {
    display: flex;
    position: absolute;
    justify-content: left;
    padding: 2px 30px 0 4px;
    margin: 70px 0  0 300px;
}

.integrante a {
    text-decoration: none;
    color: #e9d9d9;
}

.integrante a:visited {
    color: #555;
}

.integrante a:hover {
    color: rgb(61, 61, 236);
}

.integrante a:active {
    color: rgb(192, 43, 155);
}
/* páginas quem somos fim */

/* página projetos início */

#container-projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 40px; /* Espaçamento entre os projetos */
}

#container-projetos > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    transition: transform 0.2s; /* Efeito de transição ao passar o mouse */
}

/* Estilização do título e do parágrafo */
.projeto-acaua, 
.projeto-dedoches, 
.projeto-autoidentidade, 
.projeto-poeticas {
    align-self: center;
    text-align: center;
    margin-top: 10px;
}

.p-acaua, 
.p-dedoches, 
.p-autoidentidade, 
.p-poeticas {
    text-align: justify;
    padding: 10px;
}

/* Layout das imagens lado a lado */
.imagens-projeto {
    display: flex;
    gap: 20px; /* Espaçamento entre as fotos */
    justify-content: center;
    width: 100%;
}

/* Estilização das imagens */
.imagens-projeto img {
    width: 100%;
    max-width: 400px; /* Limite máximo para cada imagem */
    height: auto;
    border-radius: 20px;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

/* Link "Veja mais fotos" */
.link-acaua, 
.link-dedoches, 
.link-autoidentidade, 
.link-poeticas {
    align-self: flex-end;
    margin-top: 10px;
    color: #0066cc;
    text-decoration: none;
}

.link-acaua:hover, 
.link-dedoches:hover, 
.link-autoidentidade:hover, 
.link-poeticas:hover {
    text-decoration: underline; /* Sublinhado ao passar o mouse */
    color: #0056b3; /* Cor do link ao passar o mouse */
}
/* página projetos fim */

#imagensSobrepostas {
    display: column;
    width: 36%;
}

#imagensSobrepostas img {
    position: relative;
    width: 80%
}

.image-container {
    transform: skew(-05deg);
    margin-right: -20%;
    margin-top: 0;
}

.image-container:hover img{
    transform: scale(1.26);
    transition: 0.4s ease-in-out;
    z-index: 9;
}

#imagensSobrepostas:hover > :not(:hover) {
    opacity: 0.05;
}

.grupo-imagem:hover > :not(:hover) {
    opacity: 0.05;
}

.image-container figcaption {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 86%;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 6px; /* Adiciona padding para um melhor visual */
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    z-index: 10;
}

.image-container:hover figcaption {
    opacity: 1;
}

#boneco_superior {
    filter: blur(0.8px);
    opacity: 0.7;
    position: absolute;
    transform: rotate(-15deg);
    display: flex;
    top: 50%; /* Alinha a imagem verticalmente ao centro da tela */
    left: 18px; /* Posiciona a imagem à esquerda da tela */
    transform: translateY(-30%) rotate(-15deg); /* Ajusta a posição para centralizar verticalmente e aplica a rotação */ 
    cursor: pointer; /* Indica que o elemento é clicável */
}
#boneco-inferior {
    display: flex;
    width: 80px;
    position: absolute;
    filter: blur(0.25px);
    opacity: 0.88;
    cursor: pointer;
    top: 28px;
    left: 356px;
    /* transform: translate(340px, -200px); */
}

@keyframes tremble {
    0% { transform: translateY(-50%) rotate(-15deg) translateX(0); }
    25% { transform: translateY(-50%) rotate(-15deg) translateX(-5px); }
    50% { transform: translateY(-50%) rotate(-15deg) translateX(5px); }
    75% { transform: translateY(-50%) rotate(-15deg) translateX(-5px); }
    100% { transform: translateY(-50%) rotate(-15deg) translateX(0); }
}
@keyframes dance {
    0% { transform: translateX(10px) rotate(0deg); }
    10% { transform: translateX(10px) rotate(0deg); }
    25% { transform: translateX(20px) rotate(10deg); }
    35% { transform: translateX(30px) rotate( 15deg); }
    50% { transform: translateX(20px) rotate(0deg); }
    60% { transform: translateX(10px) rotate(-10deg); }
    75% { transform: translateX(0px) rotate(-10deg); }
    90% { transform: translateX(-10px) rotate(-15deg); }
    100% { transform: translateX(0) rotate(0deg); }
}

.trembling {
    animation: tremble 0.5s ease-in-out;
}
.dancing {
    animation: dance 0.5s ease-in-out;
}

footer {
    position: relative;
    background-color: #333;
    color: #e9d9d9;
    padding: 20px;
    text-align: center;
    width: 100vw;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.footer-logo {
    text-align: left;
}

.footer-logo img {
    height: 50px;
    vertical-align: middle;
}

.footer-logo h2, .footer-logo p {
    margin: 5px 0;
}

.footer-contact h3, .footer-social a {
    margin-bottom: 10px;
}

.footer-social h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    padding: 0;
    padding-left: 0;
    font-weight: 700;
    color: #e9d9d9;
}

.footer-social a img {
    width: 100px;
    margin: 0;
    justify-content: space-between;
}

.footer-social img {
    width: auto;
    height: 3.2em;
}

.footer-social img:hover {
    /* background: linear-gradient(to left, red, pink, violet);
    animation: animated 2.1s linear; */
    transform: scale(1.1);
    transition: 0.6 ease-in-out;
}

.footer-contact, .footer-social {
    text-align: left;
}

.footer-contact a {
    text-decoration: none;
    color: #fdfcfc;
}

.footer-contact a:visited {
    color: #555;
}

.footer-contact a:hover {
    color: rgb(12, 12, 70);
}

.footer-contact a:active {
    color: rgb(192, 43, 155);
}

hr {
    border: 1px solid #555;
    margin: 10px 0 0 0;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'birthstone-formal';
    font-size: 0.85em;
    font-weight: lighter;
    padding: 2px;
}

.footer-copyright a {
    text-decoration: none;
}

.footer-copyright p {
    margin: 0;
    display: flex;
    align-items: center;
}

.footer-logo-small {
    height: 20px;
    margin-left: 10px;
}

#back-to-top {
    display: none; /* Inicialmente escondido */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #e9d9d9;
    color: #1e1e1e;
    cursor: pointer;
    padding: 12px;
    border-radius: 50%;
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;
}

#back-to-top:hover {
    background-color: #ccc;
}

/* Media Queries */
@media screen and (max-width: 320px) {
    body {
        width: 100vw;
    }

    #boneco_superior {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 110vw;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        display: flex;
        flex-direction: row;
    }

    #logoGif {
        width: 30px; /* Reduz o tamanho do logo para caber na tela pequena */
        margin: 0;
        position: relative;
    }

    #titulo {
        font-size: 1.5em; /* Ajuste o tamanho da fonte */
        margin: 5px 0;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 5px; /* Menor espaçamento entre os links */
        margin-right: 0;
    }

    .nav-links li {
        display: block;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        max-width: 100vw;
    }

    #conteudo {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    #quem-somos {
        width: 100vw;
    }

    #quem-somos h1 {
        font-size: 1.6em;
    }

    #imagensSobrepostas {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-items: center;
        position: relative;
        left: 25px;
    }

    main {
        width: 100vw;
    }

    #integrantes {
        width: 100vw;
    }
    #integrantes h2 {
        font-size: 14px;
    }

    .integrante {
        width: 100vw;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .integrante img {
        width: 222px;
        height: auto;
        align-self: center;
    }
    .integrante h4, p {
        align-self: center;
    }
    #bio {
        display: none;
    }

    #container-projetos {
        display: flex;
        flex-direction: column;
    }

    #container-projetos div {
        display: grid;
    }
    footer {
        position: relative;
        padding: 0;
        width: 110vw;
    }

    .footer-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer-logo,
    .footer-contact,
    .footer-social {
        text-align: center;
    }

    .footer-social a img {
        display: inline-flex;
        width: 50px;
        height: 40px;
    }

    .footer-contact p {
        padding: 2px 0 0 10px;
    }

    #boneco-inferior {
        display: none;
    }

    #back-to-top {
        display: none;
        position: fixed;
        bottom: 3px;
        right: 45px;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    body {
        width: 100vw;
    }

    #boneco_superior {
       display: none;
    }   

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        display: flex;
        flex-direction: row;
    }

    .logo h3 {
        font-size: 1.6em;
    }
    #logoGif {
        width: 30px; /* Reduz o tamanho do logo para caber na tela pequena */
        margin: 0;
        position: relative;
    }

    #titulo {
        font-size: 1.5em; /* Ajuste o tamanho da fonte */
        margin: 5px 0;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 25px; /* Menor espaçamento entre os links */
        margin-right: 0;
    }

    .nav-links li {
        display: block;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        max-width: 100vw;
    }

    #conteudo {
        padding: 0;
        display: flex;
        flex-direction: column;
        width: auto;
    }

    #quem-somos {
        width: 100vw;
    }

    #quem-somos h1 {
        font-size: 1.6em;
        text-align: center;
    }

    #imagensSobrepostas {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-items: center;
        position: relative;
        left: 25px;
    }

    main {
        width: 100vw;
    }

    #integrantes {
        width: 100vw;
    }
    #integrantes h2 {
        font-size: 1.4em;
    }

    .integrante {
        width: 100vw;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .integrante img {
        width: 222px;
        height: auto;
        align-self: center;
    }
    .integrante h4, p {
        align-self: center;
    }
    #bio {
        display: none;
    }

    #container-projetos {
        display: flex;
        flex-direction: column;
    }

    #container-projetos div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagens-projeto {
        display: flex;
        flex-direction: column;
        max-width: 320px;
        width: 100%;
        justify-content: center;
    }

    .foto-acaua1,
    .foto-acaua2 {
        position: relative;
        justify-self: center;
        align-self: center;
    }

    footer {
        position: relative;
        padding: 0;
        width: 100vw;
    }

    .footer-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer-logo,
    .footer-contact,
    .footer-social {
        text-align: center;
    }

    .footer-social a img {
        display: inline-flex;
        width: 50px;
        height: 40px;
    }

    .footer-contact p {
        padding: 2px 0 0 10px;
    }

    #boneco-inferior {
        display: none;
    }

    #back-to-top {
        display: none;
        position: fixed;
        bottom: 3px;
        right: 45px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    body {
        box-sizing: border-box;
    }

    #boneco_superior {
       display: none;
    }   

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        display: flex;
        flex-direction: row;
    }

    .logo h3 {
        font-size: 1.6em;
    }
    #logoGif {
        width: 30px; /* Reduz o tamanho do logo para caber na tela pequena */
        margin: 0;
        position: relative;
    }

    #titulo {
        font-size: 1.5em; /* Ajuste o tamanho da fonte */
        margin: 5px 0;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 25px; /* Menor espaçamento entre os links */
        margin-right: 0;
    }

    .nav-links li {
        display: block;
    }

    #conteudo {
        padding: 0;
        display: flex;
        flex-direction: column;
        width: auto;
    }

    #quem-somos {
        width: 100vw;
    }

    #quem-somos h1 {
        font-size: 1.6em;
        text-align: center;
    }

    #imagensSobrepostas {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 80%;
        align-items: center;
        justify-items: center;
        position: relative;
        left: 85px;
    }

    #integrantes h2 {
        font-size: 1.4em;
    }

    .integrante {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .integrante img {
        width: 222px;
        height: auto;
        align-self: start;
    }
    .integrante h4, p {
        display: flex;
        flex-direction: row;
    }
    p.tiago {
        font-size: 16.5px;
    }
    #bio {
        font-size: .8em;
        box-sizing: border-box;
        overflow-wrap: break-word;
        width: 100%;
        padding: 0 270px 0 0;
        left: -7%;
    }
    
    /* Estilização das imagens */
    .imagens-projeto img {
        width: 100%;
        max-width: 300px; /* Limite máximo para cada imagem */
        height: auto;
    } 

    footer {
        position: relative;
        padding: 0;
        width: 110vw;
    }

    .footer-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;        
        padding: 0;
    }

    .footer-logo,
    .footer-contact,
    .footer-social {
        text-align: justify;
    }

    .footer-logo p {
        position: relative;
        left: -14%;
    }
    .footer-social a img {
        display: inline-flex;
        width: 50px;
        height: 40px;
    }
    .footer-social h3 {
        position: relative;
        left: -14%;
    }
    .footer-contact p {
        padding: 0;
    }
    .footer-contact h3 {
        position: relative;
        margin: 0;
        left: 22%;
    }
    #boneco-inferior {
        display: none;
    }

    #back-to-top {
        display: flex;
        position: fixed;
        bottom: 0;
        right: 22%;
        width: 10px;
        height: auto;
    }
}
