@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e9d9d9;
    margin: 0;
}

header {
    background-color: #000000;
    padding: 14px 20px;
    position: relative;
    box-shadow: 4px 4px 16px rgba(107, 101, 101, 0.6); /* Adiciona uma sombra suave na borda inferior */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo:hover {
    transform: scale(1.06);
    transition: transform 0.4s ease-in-out;
}

@keyframes animated {
    to {background-position: 161px;}
}

.logo a {
    text-decoration: none;
}

.logo h3 {
    font-weight: lighter;
}

.logo h3:hover{
    transition: 0.3s ease-in-out;
    transition: color 0.4s ease-in-out;
    background: linear-gradient(to left, rgb(30, 30, 220), rgb(20, 200, 250), indigo, violet, red, rgb(20, 200, 250), orange, violet);   
    display: inline;
    color: transparent;
    animation: animated 5s linear infinite;
    transition: ease-in-out;
    background-clip: text;
}

#titulo {
    font-family: 'looney-tunes';
    font-size: 2.1em;
    font-weight: lighter;
    color: #e9d9d9;
    margin-bottom: 0;
}

.logo img {
    padding-top: 5px;
    width: 44px;
    vertical-align: middle;
}

.nav-links {
    font-family: 'comic-sans';
    font-size: 1.08em;
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #e9d9d9;
    font-weight: lighter;
}

.nav-links a:hover {
    transition: 0.3s ease-in-out;
    transition: color 0.4s ease-in-out;
    background: linear-gradient(to right, rgb(30, 30, 220),rgb(20, 20, 250), blue, rgb(20, 200, 250));   
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 5s linear infinite;
    transition: ease-in-out;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 80vh; /* Garante que o conteúdo principal tenha altura mínima */
}

#conteudo {
    display: flex;
    width: 90vw;
    padding: 36px;
    background-color: rgba(224, 214, 214, 0.05); /* Fundo semitransparente */
    border-radius: 18px;
}

#quem-somos {
    flex: 1;
    padding: 20px;
    width: 60vw;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    text-align: justify;
    margin-bottom: 15px;
}

#imagensSobrepostas {
    display: column;
    width: 36%;
}

#imagensSobrepostas img {
    position: relative;
    width: 80%
}

.image-container {
    transform: skew(-05deg);
    margin-right: -20%;
    margin-top: 0;
}

.image-container:hover img{
    transform: scale(1.26);
    transition: 0.4s ease-in-out;
    z-index: 9;
}

#imagensSobrepostas:hover > :not(:hover) {
    opacity: 0.05;
}

.grupo-imagem:hover > :not(:hover) {
    opacity: 0.05;
}

.image-container figcaption {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    width: 86%;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 6px; /* Adiciona padding para um melhor visual */
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    z-index: 10;
}

.image-container:hover figcaption {
    opacity: 1;
}

#boneco_superior {
    filter: blur(0.8px);
    opacity: 0.7;
    position: absolute;
    transform: rotate(-15deg);
    display: flex;
    top: 50%; /* Alinha a imagem verticalmente ao centro da tela */
    left: 18px; /* Posiciona a imagem à esquerda da tela */
    transform: translateY(-30%) rotate(-15deg); /* Ajusta a posição para centralizar verticalmente e aplica a rotação */ 
    cursor: pointer; /* Indica que o elemento é clicável */
}
#boneco-inferior {
    display: flex;
    width: 80px;
    position: absolute;
    filter: blur(0.25px);
    opacity: 0.88;
    cursor: pointer;
    top: 28px;
    left: 356px;
    /* transform: translate(340px, -200px); */
}

@keyframes tremble {
    0% { transform: translateY(-50%) rotate(-15deg) translateX(0); }
    25% { transform: translateY(-50%) rotate(-15deg) translateX(-5px); }
    50% { transform: translateY(-50%) rotate(-15deg) translateX(5px); }
    75% { transform: translateY(-50%) rotate(-15deg) translateX(-5px); }
    100% { transform: translateY(-50%) rotate(-15deg) translateX(0); }
}
@keyframes dance {
    0% { transform: translateX(10px) rotate(0deg); }
    10% { transform: translateX(10px) rotate(0deg); }
    25% { transform: translateX(20px) rotate(10deg); }
    35% { transform: translateX(30px) rotate( 15deg); }
    50% { transform: translateX(20px) rotate(0deg); }
    60% { transform: translateX(10px) rotate(-10deg); }
    75% { transform: translateX(0px) rotate(-10deg); }
    90% { transform: translateX(-10px) rotate(-15deg); }
    100% { transform: translateX(0) rotate(0deg); }
}

.trembling {
    animation: tremble 0.5s ease-in-out;
}
.dancing {
    animation: dance 0.5s ease-in-out;
}

footer {
    position: relative;
    background-color: #333;
    color: #e9d9d9;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.footer-logo {
    text-align: left;
}

.footer-logo img {
    height: 50px;
    vertical-align: middle;
}

.footer-logo h2, .footer-logo p {
    margin: 5px 0;
}

.footer-contact h3, .footer-social a {
    margin-bottom: 10px;
}

.footer-social h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    padding: 0;
    padding-left: 0;
    font-weight: 700;
    color: #e9d9d9;
}

.footer-social a img {
    width: 100px;
    margin: 0;
    justify-content: space-between;
}

.footer-social img {
    width: 28px;
    height: 70px;
    border-radius: 160px;
}

.footer-social img:hover {
    background: linear-gradient(to left, red, pink, violet);
    animation: animated 2.1s linear;
    transition: all 0.6 ease;
}

.footer-contact, .footer-social {
    text-align: left;
}

hr {
    border: 1px solid #555;
    margin: 20px 0;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: 'birthstone-formal';
    font-size: 1.18em;
    font-weight: lighter;
    padding: 0 10px;
}

.footer-copyright a {
    text-decoration: none;
}

.footer-copyright p {
    margin: 0;
    display: flex;
    align-items: center;
}

.footer-logo-small {
    height: 20px;
    margin-left: 10px;
}

#back-to-top {
    display: none; /* Inicialmente escondido */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #e9d9d9;
    color: #1e1e1e;
    cursor: pointer;
    padding: 12px;
    border-radius: 50%;
    font-size: 18px;
    transition: opacity 0.3s ease-in-out;
}

#back-to-top:hover {
    background-color: #ccc;
}

/* Media Queries */
@media (max-width: 768px) {
    #imagensSobrepostas {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #boneco_superior img {
        width: 100px;
    }

    #boneco-inferior {
        display: flex;
        width: 86px;
        top: 280px;
        left: 320px;
    }

    nav {
        flex-direction: column;
    }

    #conteudo {
        width: 80vw;
        flex-direction: column;
        align-items: center;
    }

    #quem-somos {
        width: 100%;
        margin: 0;
        padding: 5px;
    }

    #imagensSobrepostas {
        width: 100%;
        padding: 0;
    }

    .image-container {
        flex-direction: column;
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-logo, .footer-contact, .footer-social {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer-social a img {
        width: 25px;
        margin: 0 5px;
    }

    .footer-social {
        width: 100%;
    }
}

@media (max-width: 480px) {
    #boneco_superior img {
        width: 80px;
    }

    #boneco-inferior {
        display: flex;
        width: 86px;
        top: 270px;
        left: 300px;
    }

    nav {
        flex-direction: column;
        gap: 16px;
    }

    #conteudo {
        width: 70vw;
        flex-direction: column;
        align-items: center;
    }

    #quem-somos {
        width: 100%;
        margin: 0;
        padding: 5px;
    }

    #imagensSobrepostas {
        width: 100%;
        padding: 0;
    }

    .image-container {
        flex-direction: column;
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-logo, .footer-contact, .footer-social {
        margin-bottom: 20px;
    }

    .footer-social a img {
        width: 25px;
        margin: 0 5px;
    }
}